
features/Internal/Закупки/создание документа поступление товаров.feature
features/Internal/Закупки/пример.feature
features/External/загрузка организаций и констант.feature
features/теория модуль 2/1Cv8.cf
features/теория модуль 2/проверка создания клиента.feature
features/External/Загрузка поставщиков.feature
features/External/загрузка товаров.feature
